*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cadetblue;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;

  
}
.section
{
     border: 2px solid black;
     width: 33%;
     height: 360px;
     position: relative;
     top: 150px;
     border-radius: 20%;
     box-shadow: 10px 10px 0px 0px;
     
}
#profile{
        width: 40%;
        height: 200px;
        float: left;
        margin-left: 10px;
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 50%;
}
.About{

    float: right;
    width: 40%;
    height: 200px;
    float: left;
    margin: 30px ;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 20px
}

h1{
    text-align: center;
    margin-top: 20px;
   
}
button{
    position: absolute;
    left: 60px;
    bottom: 30px;
    border: none;
    border: 1px solid black;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    cursor: pointer;
}
p{
    margin: 20px;
}